
{% extends 'base.html' %}  

{% block content %}
<div class="nk-content" style="background-color: #your-color;">
    <div class="nk-content-inner"> 
        <div class="nk-content-body">
            <div class="card card-bordered">
                <div class="card-inner card-inner-lg d-flex justify-content-center align-items-center h-100">
                    <div>
                        <a href="{% url 'add_trip' %}" class="btn btn-lg btn-primary">Start a Trip</a>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="nk-content-inner"> 
        <div class="nk-content-body">
            <div class="card card-bordered">
                <div class="card-inner card-inner-lg d-flex justify-content-center align-items-center h-100">
                        <a href="{% url 'add_estimate' %}" class="btn btn-lg btn-primary">Create a Quotation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content @e -->

{% endblock content %}   